footer {
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
    background-color: #f8f9fa;
    p {
      color: #6c757d !important;
    }
  }
}

/* Responsibility 800 */

@media screen and (max-width:800px) {

    
}